* {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background-color: #F5F5F5;
    font-family: "Montserrat";
}

.logo_name {
    
    font-weight: 400;
    font-style: italic;
    font-size: 40px;
    display: inline-block;
    margin-top: 63px;
    margin-left: 85px;
}
.shop {
    color: #10B981;
}
.placeholder {
    font-size: 16px;
    margin-left: 220px;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 322px;
    height: 63px;
    padding-left: 32px;
}
.basket {
    font-size: 16px;
    margin-left: 38px;
    background-color: #FFFFFF;
    border: 1px solid #10B981;
    border-radius: 30px;
    width: 299px;
    height: 60px;
    padding-left: 75px;
}
.login {
    font-size: 16px;
    margin-left: 23px;
    background-color: #10B981;
    border: 1px solid #10B981;
    border-radius: 30px;
    width: 299px;
    height: 60px;
    padding-left: 75px;
}
ul {
    padding-left: 460px;
    background-color: #10B981;
    width: 100%;
    height: 81px;
    margin-top: 70px;
}
li {
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 75px;
    margin-top: 28px;
    background-color: transparent;
}
.discover {
    color: #2B2626;
    font-size: 64px;
    margin-top: 126px;
    margin-left: 85px;
    display: inline-block;
    width: 499px;
}
.lorem {
    color: #2B2626;
    font-size: 21px;
    margin-top: 30px;
    margin-left: 85px;
    width: 440px;
}
.buy {
    color:#FFFFFF;
    font-size: 21px;
    margin-left: 85px;
    margin-top: 74px;
    background-color: #10B981;
    border-radius: 10px;
    width: 263px;
    height: 70px;
    padding-left: 32px;
}
.reviews_1 {
    box-sizing: border-box;
    border-radius: 2px solid #FFFFFF;
    margin-left: 85px;
    margin-top: 112px;
    margin-right: -25px;
    background: none;
}
.reviews_2 {
    box-sizing: border-box;
    border-radius: 2px solid #FFFFFF;
    margin-top: 112px;
    margin-right: -25px;
    background: none;
}
.reviews_3 {
    box-sizing: border-box;
    border-radius: 2px solid #FFFFFF;
    margin-top: 112px;
    margin-right: -25px;
    background: none;
}
.reviews_4 {
    box-sizing: border-box;
    border-radius: 2px solid #FFFFFF;
    margin-top: 112px;
    margin-right: -25px;
    background: none;
}
.well_reviews{
    font-size: 26px;
    margin-left: 35px;
    display: inline-block;
    width: 100px;
}
.block {
    background-color: #ECFEF4;
    width: 272px;
    height: 477px;
    left: 939px;
    top: 432px;
    border-radius: 136px;
    position: absolute;
        }
.read_beats {
    width: 280px;
    height: 299px;
    position: absolute;
    left: 934px;
    top: 508px;
}